body {
    background-color: #faf6ef;
    font-family: sans-serif;
}

.jogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#botaotentar{
    background-color: #FF5A36;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

#botaotentar:hover{
    background-color: #e04a28;
}